{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'home.public_timeline' %}
    Public Timeline
  {% elif request.endpoint == 'home.user_timeline' %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if session.user_id %}
    {% if request.endpoint == 'home.user_timeline' %}
      <div class="followstatus">
      {% if g.user.id == profile_user.id %}
        This is you!
      {% else %}
        This is {{profile_user.username}}.
      {# disabled template because we no longer use this
      {% elif followed %}
        You are currently following this user.
        <a class="unfollow" href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class="follow" href="{{ url_for('follow_user', username=profile_user.username)
          }}">Follow user</a>-->
        #}
      {% endif %}
      </div>
    {% elif request.endpoint == 'home.timeline' %}
      <div class="twitbox">
        <h3>What's on your mind?</h3>
        <form action="{{ url_for('home.add_message') }}" method="post">
          <p><input type="text" name="text" size="50"><!--
          --><input type="submit" value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class="messages">
  {% for message in messages %}
    <table class="table" align="center">
    <tr>
      <th>
        <table>
        <tr>
          <td><img src="{{ message.author.email|gravatar(size=48) }}"></td> 
        </tr>
          <td><strong><a href="{{ url_for('home.user_timeline', username=message.author.username)
          }}">{{ message.author.username }}</a></strong></td>
          
        <tr>
        </table>
      </th>
      <th rowspan="1">{{ message.description }}
          <small>&mdash; {{ message.pub_date.strftime('%Y-%m-%d %H:%M') }}</small></th>        
    </tr>  
      

  {% else %}
    <li><em>There's no message so far.</em></li>
  {% endfor %}
    </table>
  </ul>
{% endblock %}
