{% extends "layout.html" %}
{% block title %}
	{% if request.endpoint == 'groups.groups' %}
		Public Groups
	{% elif request.endpoint == 'groups.group_info' %}
		{{ profile_group.groupname }}'s Group Page
	{% else %}
		Group Members
	{% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if request.endpoint == 'groups.groups' %}
  <ul class="messages">
  {% for group in groups %}
    <li><p>
      <a href="{{ url_for('groups.group_info', groupname=group.groupname)
      }}">{{ group.groupname }}</a><br>
      {{ group.description }}
  {% else %}
    <li><em>I don't have group so far.</em>
  {% endfor %}
  </ul>
  {% endif %}

  {% if request.endpoint == 'groups.group_info' %}

  <h2> Add Event </h2>
    <div class="twitbox">
      <h3>What do you want to add into {{ profile_group.groupname }}?</h3>
      <form action="{{ url_for('groups.add_event', groupname=profile_group.groupname) }}" method="post">
        <dl>
          <dt>Title:
          <dd><input type="text" size="30" name="title">
          <dt>Text:
          <dd><textarea name="text" rows="5" cols="40"></textarea>
          <dd><input type="submit" value="Share">
        </dl>
      </form>
    </div>
  <a href="{{ url_for('groups.download', groupname=profile_group.groupname) }}">Download Logs</a>
  <ul class="messages">
  {% for groupevent in groupevents %}
    <li><img src="{{ groupevent.author.email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('home.user_timeline', username=groupevent.author.username)
      }}">{{ groupevent.author.username }}</a></strong>
      <h3>{{ groupevent.title }}</h3>>
      {{ groupevent.text }}
      <small>&mdash; {{ groupevent.pub_date.strftime('%Y-%m-%d %H:%M')}}</small>
  {% else %}
    <li><em>There's no event so far.</em>
  {% endfor %}
  </ul>

  <h2> Add Member </h2>
  	<div class="twitbox">
      <h3>Who do you want to add into {{ profile_group.groupname }}?</h3>
      <form action="{{ url_for('groups.add_member', groupname=profile_group.groupname) }}" method="post">
        <p><input type="text" name="username" size="30">
        <input type="submit" value="Add">
      </form>
    </div>
  <ul class="messages">
  {% for groupmember in groupmembers %}
    <li><p>
      <a href="{{ url_for('home.user_timeline', username=groupmember.username)}}">
      {{ groupmember.username }}</a><br>
      {{ groupmember.email }}
  {% else %}
    <li><em>There's no member so far.</em>
  {% endfor %}
  </ul>

  {% endif %}

{% endblock %}