{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'groups' %}
    Public Groups
  {% elif request.endpoint == 'show_members' %}
    {{ profile_group.groupname }}'s members
  {% else %}
    My Groupmembers
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if request.endpoint == 'groups' %}
  <ul class="messages">
  {% for group in groups %}
    <li><p>
      <a href="{{ url_for('show_members', groupname=group.groupname)
      }}">{{ group.groupname }}</a><br>
      {{ group.description }}
  {% else %}
    <li><em>There's no group so far.</em>
  {% endfor %}
  </ul>
  {% endif %}

  {% if request.endpoint == 'show_members' %}
  <h2>Add Member</h2>
    <div class="twitbox">
      <h3>Who do you want to add into {{ profile_group.groupname }}?</h3>
      <form action="{{ url_for('add_member', groupname=profile_group.groupname) }}" method="post">
        <p><input type="text" name="username" size="30">
        <input type="submit" value="Add">
      </form>
    </div>
    <ul class="messages">
  {% for groupmember in groupmembers %}
    <li><p>
      <a href="{{ url_for('user_timeline', username=groupmember.username)}}">
      {{ groupmember.username }}</a><br>
      {{ groupmember.email }}
  {% else %}
    <li><em>There's no member so far.</em>
  {% endfor %}
  </ul>
  {% endif %}
{% endblock %}